.shop-container{
    display: grid;
    grid-template-columns:4fr 1fr;
}

.products-container{
   display: grid;
   grid-template-columns: repeat(3,1fr); 
   grid-gap: 45px;
   margin: 40px;
}
.cart-container{
    /* position: sticky; */
}
.review-order{
    background-color:#FF9900 ;
    border: 0px;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    text-align: left;
    font-size: medium;
    margin-top: 10px;
}
.review-order:hover {
    cursor: pointer;
}