
.cart{
    margin-top: 10px;
    background-color: #ffe0b3;
    padding: 25px;
    position: sticky;
    top: 10px;
    border-radius: 10px;
}
.clear-cart{
    background-color: #FF3030;
    border: 0px;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    text-align: left;
    font-size: large;

}
.clear-cart:hover{
    cursor: pointer;
}
.children{
    /* background-color:#FF9900 ;
    border: 0px;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    text-align: left;
    font-size: medium; */
    /* width: 100%; */
}