.review-item{
    margin-top: 20px;
    padding: 5px;
    border: 2px solid  #95A0A7;    
    border-radius: 5px;
}
.review-item div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
}
.review-item .details{
    display: flex;
    flex-direction: column;
}
.details .name{
    font-size: 15px;
    margin: 1px;
}
.details .price {
    color: orange;
    text-decoration: underline;
    font-weight: bold;
    
}
.review-item img {
    width: 90px;
    height: auto;
    border-radius: 4px;
}
.review-item .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color:rgb(241, 233, 233);
    background-color: rgb(235, 102, 102);
    margin-top: auto;
    margin-bottom: auto;
}
.review-item .icon:hover{
    cursor: pointer;
}