.product img {
    width: 286px;
    height: 286px;
    padding: 5px;
    border-radius: 10px;

}

.product {
    width: 300px;
    height: 500px;
    border: 1px solid rgb(199, 194, 194);
    border-radius: 5px;
    position: relative;
}

.product-info {
    margin-left: 10px;
}

.btn-cart {
    background-color: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 4px 4px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 40px;
}
.btn-cart:hover{
    background-color: orange;
}